[submodule "templates/base-set"]
	path = templates/base-set
	url = git@github.com:mechazoo/base_set.git
[submodule "sets/mechazoo-base-set"]
	path = sets/mechazoo-base-set
	url = git@github.com:mechazoo/base-set-cards.git
