html {
    width: 756px;
    height: 1056px;
    margin: 0;
}

body {
    width: 756px;
    height: 1056px;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    text-rendering: geometricPrecision;
    --top-left-box-width: 138px;
}
#card-frame-outer {
    background-color: black;
    width: 756px;
    height: 1056px;
    border-radius: 36px;
    z-index: 256;
}
#card-frame-inner {
    background-color: green;
    position: absolute;
    top: 36px;
    left: 36px;
    width: 684px;
    height: 984px;
    border-radius: 18px;
    z-index: 0;
}

#card-image-container {
    z-index: 1;
}

#energy-frame {
    border-radius: 36px 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
    border: 12px solid black;
    position: fixed;
    top: 24px;
    left: 24px;
    width: var(--top-left-box-width);
    height: 162px;
    & > p {
        text-align: center;
        vertical-align: middle;
        line-height: 162px;
        font-size: 140px;
        height:inherit;
        width: inherit;
        margin: 0
    }
}

#cardname-box {
    position: fixed;
    top: 60px;
    left: 185px;
    width: 534px;
    &.center {
        left: 36px;
        width: 684px;
    }
    & > p {
        width: 100%;
        text-align: center;
        font-size: 64px;
        margin: 0;
        font-weight: 700;
        --o-offset: 2px;
        --o-off-neg: calc(var(--o-offset) * -1);
        --o-color: #FFF;
        text-shadow: 
            var(--o-off-neg) var(--o-off-neg) 0 var(--o-color), 
            var(--o-offset) var(--o-off-neg) 0 var(--o-color), 
            var(--o-off-neg) var(--o-offset) 0 var(--o-color), 
            var(--o-offset) var(--o-offset) 0 var(--o-color);
    }
}

#scrap-value-box {
    position: fixed;
    height: 93px;
    width: 93px;
    border-radius: 93px;
    border: 6px solid black;
    background-color: white;
    left: 48px;
    top: 486px;
    & > p {
        width: 93px;
        line-height: 93px;
        text-align: center;
        margin: 0;
        font-size: 46px;
    }
}

#card-type-box {
    position: fixed;
    left: 24px;
    top: 198px;
    height: 72px;
    width: var(--top-left-box-width);
    border: 12px solid black;
    border-bottom-right-radius: 36px;
    background-color: white;
    & > p {
        font-size: 54px;
        margin: 0;
        text-align: center;
    }
}

#card-text-box {
    position: fixed;
    border: 3px solid black;
    left: 33px;
    top: 600px;
    width: 684px;
    height: 420px;
    background-color: white;
    & > p {
        margin: 0;
        padding: 6px;
        font-size: 30px;
        text-align: center;
    }
}

#typeline-box {
    height: 60px;
    border-bottom: 2px solid black;
    & > p {
        text-align: center;
        line-height: 60px;
        margin: 0;
        font-size: 36px;
    }
}

#durability_base_box {
    position: fixed;
    right: 48px;
    bottom: 468px;
    width: 144px;
    height: 144px;
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
    font-size: 72px;
    text-align: center;
    line-height: 144px;
    &.mech {
        width: 300px;
    }
    & > p {
        margin: 0;
    }
}

#energy-capacity, #scrap-per-turn {
    background-color: white;
    border: 12px solid black;
    position: fixed;
    top: 144px;
    width: 92px;
    height: 92px;
    & > p {
        font-size: 86px;
        margin: 0;
        line-height: 92px;
        text-align: center;
    }
}

#energy-capacity {
    border-top-right-radius: 36px;
    border-bottom-right-radius: 36px;
    left: 24px;
}

#scrap-per-turn {
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
    right: 24px;
    top: 240px;
}