<html>
    <head>
        <link rel="stylesheet" href="card_template.css" />
    </head>
    <body>
        <div id="card-frame-outer">
            <div id="card-image-container">
                <img />
            </div>
            <div id="card-frame-inner">
                <div id="energy-frame">
                    <p>0</p>
                </div>
                <div id="cardname-box">
                    <p>Cowboy for Game</p>
                </div>
                <div id="scrap-value-box">
                    <p>1</p>
                    <p>3</p>
                </div>
                <div id="card-type-box">
                    <p id="card-type-text">!</p>
                </div>
                <div id="card-text-box">
                    <div id="typeline-box">
                        <p>Scrapper Energy Weapon</p>
                    </div>
                    <p>Limit 2</p>
                    <p>If your opponent's Mech has 1 remaining integrity, deal 1 integrity damage to it.</p>
                </div>
            </div>
        </div>
    </body>
</html>